<div>
  <div id="chatContainer">
    <div class="jumbotron" style="width: 75%">
      <div class="form-group">
        <label>Your Name: </label>
        <input class="form-control" [(ngModel)]="username" />
      </div>
      <div class="form-group">
        <label>Your message: </label>
        <textarea class="form-control" [(ngModel)]="messageText" >

        </textarea>
      </div>
      <button (click)="sendMsg()" class="btn btn-primary btn-lg btn-block">Send</button>

    </div>
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p>{{item.name}}:</p>
      <h3>{{item.msg}}</h3>
      <button (click)="reqSpeech(item)" class="btn btn-info">Convert to Speech</button>

      <audio controls *ngIf="item.audio != null">
        <source src="{{item.audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <span class="time-right">{{item.timeStamp}}</span>
    </div>

  </div>
</div>
<div class="jumbotron text-center">
  <p>FIT2095 Chat Application</p>
</div>
